body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#header-nav {
    background-color: #D4D1D1;
    border-radius: 0;
    border: 2px black solid;
}

.card {
    background-color: #D4D1D1;
}
.card-title {
    padding: 1px;
}
.card-text {
    padding: 10px;
}

.navbar-default .navbar-brand {
    color: black;
}
 /*li {
    border: 1px black solid;
} */
  
  .navbar-default .navbar-collapse {
    border: none;
}

#nav-list a {
    color: black;
}

#nav-list a:hover {
    color: gray;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid black;
}

#collapsable-nav a {
    font-size: 1.1em;
}
